In [1]:
import pandas as pd

In [2]:
temp=pd.read_parquet('merged_data.parquet')

In [3]:
temp.head()

,series_id,step,timestamp,anglez,enmo,year,month,day,hour,minute,night,event
0,08db4255286f,0,2018-11-05 14:00:00+00:00,-30.845301,0.0447,2018,11,5,14,0,NaN,None
1,08db4255286f,1,2018-11-05 14:00:05+00:00,-34.181801,0.0443,2018,11,5,14,0,NaN,None
2,08db4255286f,2,2018-11-05 14:00:10+00:00,-33.877102,0.0483,2018,11,5,14,0,NaN,None
3,08db4255286f,3,2018-11-05 14:00:15+00:00,-34.282101,0.0680,2018,11,5,14,0,NaN,None
4,08db4255286f,4,2018-11-05 14:00:20+00:00,-34.385799,0.0768,2018,11,5,14,0,NaN,None

In [32]:
temp=temp[['series_id', 'step', 'event']]

In [33]:
temp.head()

      series_id  step event
0  08db4255286f     0  None
1  08db4255286f     1  None
2  08db4255286f     2  None
3  08db4255286f     3  None
4  08db4255286f     4  None

In [6]:
df_clean_csv=pd.read_csv('clean_train_csv.csv')

In [48]:
csv_steps=df_clean_csv[['step']]

In [49]:
csv_steps

          step
0      11988.0
1      14388.0
2      28680.0
3      31320.0
4      44184.0
...        ...
1509  356172.0
1510  366756.0
1511  373176.0
1512  383616.0
1513  390096.0

[1514 rows x 1 columns]

In [34]:
import numpy as np
import pandas as pd
temp1=temp
# temp1['sleeping']= 1000
# temp1["sleeping"] = np.where(temp1["event"] == "onset", 1, np.where(temp1["event"] == "wakeup", 0, 2))


# print(temp1.index[1])

# step_values=1513
# for i in range (0,step_values):
# #     print(i)
# #     print (f"i is {i}")
#     start_index= int(csv_steps.iloc[i])
#     stop_index= int(csv_steps.iloc[i+1])
#     print(f"start_index: {start_index}")
#     print(f"stop_index: {stop_index}")
    
#     if start_index==11988:
#         for j in range(0,start_index):
#             temp1.loc['sleeping']==0
        
#     if i%2==0:
            
#         for j in range(start_index,stop_index):
#             temp1.loc['sleeping']=1
#     elif i%2!=0:
#         for j in range(start_index,stop_index):
#             temp1.loc['sleeping']=0
            
#     if stop_index==390096:
#         for j in range(390096,len(temp1)-1):
#             temp1.loc['sleeping']=1

# temp1.info()

In [35]:
temp1.head()

      series_id  step event
0  08db4255286f     0  None
1  08db4255286f     1  None
2  08db4255286f     2  None
3  08db4255286f     3  None
4  08db4255286f     4  None

In [ ]:
sleeping_list=[]

for i in range(0,11988):
    sleeping_list.append(0)
    
step_values=1513    
for j in range(0,step_values):
    start_index= int(csv_steps.iloc[j])
    stop_index= int(csv_steps.iloc[j+1])
    print(f"start_index: {start_index}")
    print(f"stop_index: {stop_index}")
    
    for i in range(start_index,stop_index):
        if j%2==0:
            sleeping_list.append(1)
        else:
            sleeping_list.append(0)

In [62]:
len(sleeping_list)

12702516

In [63]:
temp.shape[0]

13165560

In [64]:
print(temp.shape[0]-len(sleeping_list))

463044

In [65]:
sleeping_list[len(sleeping_list)-1]

1

In [66]:
for k in range(0,463044):
    sleeping_list.append(1)

In [67]:
len(sleeping_list)

13165560

In [68]:
import pandas as pd
sleeping_data = pd.DataFrame(sleeping_list, columns=['sleeping'])

In [70]:
sleeping_data.to_parquet('sleeping_data.parquet',index=False)

In [72]:
sleeping_data.to_csv('sleeping_data.csv', index=False)

## Merging

In [93]:
temp_merge=pd.read_parquet('merged_data.parquet')

In [94]:
temp_merge.shape[0]

13165560

In [95]:
temp_merge['sleeping']=sleeping_data

In [96]:
temp_merge

,series_id,step,timestamp,anglez,enmo,year,month,day,hour,minute,night,event,sleeping
0,08db4255286f,0,2018-11-05 14:00:00+00:00,-30.845301,0.0447,2018,11,5,14,0,NaN,None,0
1,08db4255286f,1,2018-11-05 14:00:05+00:00,-34.181801,0.0443,2018,11,5,14,0,NaN,None,0
2,08db4255286f,2,2018-11-05 14:00:10+00:00,-33.877102,0.0483,2018,11,5,14,0,NaN,None,0
3,08db4255286f,3,2018-11-05 14:00:15+00:00,-34.282101,0.0680,2018,11,5,14,0,NaN,None,0
4,08db4255286f,4,2018-11-05 14:00:20+00:00,-34.385799,0.0768,2018,11,5,14,0,NaN,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13165555,d5e47b94477e,395815,2017-12-02 20:44:35+00:00,-10.064100,0.1552,2017,12,2,20,44,NaN,None,1
13165556,d5e47b94477e,395816,2017-12-02 20:44:40+00:00,-10.006700,0.1139,2017,12,2,20,44,NaN,None,1
13165557,d5e47b94477e,395817,2017-12-02 20:44:45+00:00,-3.328600,0.1245,2017,12,2,20,44,NaN,None,1
13165558,d5e47b94477e,395818,2017-12-02 20:44:50+00:00,-5.903100,0.1363,2017,12,2,20,44,NaN,None,1
13165559,d5e47b94477e,395819,2017-12-02 20:44:55+00:00,-11.691100,0.0995,2017,12,2,20,44,NaN,None,1

In [97]:
temp_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165560 entries, 0 to 13165559
Data columns (total 13 columns):
 #   Column     Dtype
---  ------     -----
 0   series_id  object
 1   step       uint32
 2   timestamp  datetime64[ns, UTC]
 3   anglez     float32
 4   enmo       float32
 5   year       int64
 6   month      int64
 7   day        int64
 8   hour       int64
 9   minute     int64
 10  night      float64
 11  event      object
 12  sleeping   int64
dtypes: datetime64[ns, UTC](1), float32(2), float64(1), int64(6), object(2), uint32(1)
memory usage: 1.1+ GB

In [98]:
temp_merge.to_parquet('dataset.parquet')

## Checking column info

In [100]:
temp_merge['night'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13165560 entries, 0 to 13165559
Series name: night
Non-Null Count  Dtype
--------------  -----
1514 non-null   float64
dtypes: float64(1)
memory usage: 100.4 MB

In [101]:
temp_merge['event'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13165560 entries, 0 to 13165559
Series name: event
Non-Null Count  Dtype
--------------  -----
1514 non-null   object
dtypes: object(1)
memory usage: 100.4+ MB

In [102]:
temp_merge['sleeping'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 13165560 entries, 0 to 13165559
Series name: sleeping
Non-Null Count     Dtype
--------------     -----
13165560 non-null  int64
dtypes: int64(1)
memory usage: 100.4 MB